<div
  class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
>
  <div class="list-group">
    <label class="list-group-item d-flex gap-3">
      <form action="/checked" method="POST">
        <input
          type="checkbox"
          name="checkbox"
          value=<%= i %>
          onChange="this.form.submit()"
          id=<%= i %>
          class="form-check-input flex-shrink-0"
          style="font-size: 1.375em"
        />
      </form>
      <span class="pt-1 form-checked-content">
        <strong><%= i %></strong>
        <small class="d-block text-body-secondary">
          <form action="/delete" method="POST">
            <button>
              <img src="images/trash-can.png" alt="delete" height="30px" />
            </button>
            <input type="hidden" value=<%= i %> name="itemDeleted" />
          </form>
          <form action="/edit" method="POST">
            <button>
              <img src="images/pencil.png" alt="edit" height="30px" />
            </button>
            <input type="hidden" value=<%= i %> name="itemEdited" />
          </form>

          description
        </small>
      </span>
    </label>
  </div>
</div>

<div
  class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"
>
  <div class="list-group">
    <label class="list-group-item d-flex gap-3">
      <form action="/checked" method="POST">
        <input
          class="form-check-input flex-shrink-0" 
          type="checkbox"
          name="checkbox"
          value=<%= i %>
          onChange="this.form.submit()"
          id=<%= i %>
          style="font-size: 1.375em"
        />
      </form>

      <span class="pt-1 form-checked-content">
        <strong><%= i %></strong>
        <small class="d-block text-body-secondary">
          <form action="/delete" method="POST">
            <button>
              <img src="images/trash-can.png" alt="delete" height="30px" />
            </button>
            <input type="hidden" value=<%= i %> name="itemDeleted" />
          </form>
          <form action="/edit" method="POST">
            <button>
              <img src="images/pencil.png" alt="edit" height="30px" />
            </button>
            <input type="hidden" value=<%= i %> name="itemEdited" />
          </form>
          <svg class="bi me-1" width="1em" height="1em">
            <use xlink:href="#calendar-event"></use>
          </svg>
          description
        </small>
      </span>
    </label>
  </div>
</div>

<label class="list-group-item d-flex gap-3 bg-body-tertiary">
  <input
    class="form-check-input form-check-input-placeholder bg-body-tertiary flex-shrink-0 pe-none"
    disabled=""
    type="checkbox"
    value=""
    style="font-size: 1.375em"
  />
  <span class="pt-1 form-checked-content">
    <span contenteditable="true" class="w-100">Add new task...</span>
    <small class="d-block text-body-secondary">
      <svg class="bi me-1" width="1em" height="1em">
        <use xlink:href="#list-check"></use>
      </svg>
      Choose list...
    </small>
  </span>
</label>