<%- include("partials/header.ejs") %>
<div class="row card-deck main-page m-5 page">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card paper">
      <div class="card-body">
        <h5 class="card-title">THINGS TO DO</h5>
        <form action="/" method="POST">
          <input type="text" name="listItem" placeholder="Add to your list" required/>
          <input type="image" src="images/check-mark.png" alt="Submit" height="30px" />
        </form>
        <% if (locals.items) { %> <% items.forEach((i) => { %>
          <div id= <%= i %> class="listed-item">
            <% if (i === locals.editItem){ %>
             <form action="/" method="POST">
                <input type="text" name="editItem" value=<%= i %> required/>
                <input type="hidden" name="originalItem" value=<%= i %> />
                <input type="image" src="images/check-mark.png" alt="Submit" height="30px" />
             </form>
             <div class="grouped_items">
             <form action="/delete" method="POST">
                <button><img src="images/trash-can.png" alt="delete" height="30px" /></button>
                <input type="hidden" value=<%= i %> name="itemDeleted"/>
              </form>
              <form action="/close" method="POST">
                <button><img src="images/cross.png" alt="edit" height="30px" /></button>
                <input type="hidden" value=<%= i %> name="itemEditedClosed"/>
              </form>
              </div>
            <% } else { %>
              <div class="grouped_items">
              <form action="/checked" method="POST">
                <input class="mx-2"  type="checkbox" name="checkbox" value=<%=i%> onChange="this.form.submit()"  id=<%=i%> />
              </form>
              <p><%= i %></p>
              </div>
              <div class="grouped_items">
              <form action="/delete" method="POST">
                <button><img src="images/trash-can.png" alt="delete" height="30px" /></button>
                <input type="hidden" value=<%= i %> name="itemDeleted"/>
              </form>
              <form action="/edit" method="POST">
                <button><img src="images/pencil.png" alt="edit" height="30px" /></button>
                <input type="hidden" value=<%= i %> name="itemEdited"/>
             </form>
             </div>
           <%  } %>
          </div>
          <% }); %>  
        <% } %>
      </div>
    </div> 
  </div>
  
  <div class="col-sm-6">
    <div class="card paper">
      <div class="card-body">
        <h5 class="card-title">DONE!</h5>
        <% if(locals.checked) {%>
          <% checked.forEach((j) => { %>
          <div id= <%= j %> class="done-items" >
            <form action="/checked" method="POST">
              <input class="mx-2" disabled="true" checked="true" type="checkbox" name="checkbox" value=<%=j%> onChange="this.form.submit()"  id=<%=j%> />
            </form>
            <p class="strike"><%= j %></p>
          </div>
         <% }); %>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
